[submodule "material-dashboard"]
	path = material-dashboard
	url = https://github.com/creativetimofficial/material-dashboard.git
[submodule "elektra-dashboard"]
	path = elektra-dashboard
	url = git@github.com:JXproject/template-material-dashboard.git
